.input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-container input {
    padding: 1.2rem;
    border: 1px solid #444444;
    border-radius: 6px;
    font-size: 1.6rem;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    transition: border-color 0.3s;
}

.input-container input:focus {
    border-color: var(--color-accent);
}