.button {
    padding: 1.2rem 1.5rem;
    border: none;
    border-radius: 6px;
    background-color: var(--color-secondary);
    color: #fff;
    font-size: var(--font-size-base);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: var(--color-accent);
}