.form-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 600px;
    margin: 2rem auto;
    padding: 3rem;
    background-color: var(--color-component-background);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
    font-size: var(--font-size-large);
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.error {
    position: absolute;
    bottom: -20px;
    color: red;
    font-size: 1.2rem;
}

@media(max-width: 540px) {
    .form-container {
        max-width: 90%;
    }

    .form-container h2 {
        margin-bottom: 0;
    }
}

@media(max-width: 320px) {
    .form-container h2 {
        font-size: 2rem;
    }
}