.form-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 600px;
    margin: 2rem auto;
    padding: 3rem;
    background-color: var(--color-component-background);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
    font-size: var(--font-size-large);
    margin-bottom: 1.5rem;
}

@media(max-width: 480px) {
    .form-container {
        max-width: 90%;
    }

    .form-container h2 { 
        margin-bottom: 0;
    }
}

@media(max-width: 320px) {
    .form-container h2 {
        font-size: 2rem;
    }
}